<%= form_with(model: ferret, local: true) do |form| %>
  <% if ferret.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ferret.errors.count, "error") %> prohibited this ferret from being saved:</h2>
      <ul>
        <% ferret.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form_wrapper">
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div class="field">
      <%= form.label :age %>
      <%= form.text_field :age %>
    </div>
    <div class="field">
      <%= form.label :disposition %>
      <%= form.text_area :disposition %>
    </div>
    <div class="field">
      <%= form.label :picture %>
      <%= form.file_field :picture, accept: "image/png, img/jpg, image/jpeg" %>
    </div>
    <div class="field">
      <p>Do not touch!</p>
      <%# this field is filling in the id feild however it is editable currently, will want to change later unsure how to fix %>
      <%= form.label :user_id  %>
      <%= form.select :user_id, :value => current_user.id %>
    </div>
    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
