<p id="notice"><%= notice %></p>
<h1> <%= @ferret.name%> </h1>
<h5> <%= @ferret.age%> </h5>

<p>
sup dis is session: <%= p session.id%>

  <%# <%= @ferret.disposition %> %>
  
</p>
<button data-stripe="payment">Adopt ferret! </button>
<%= link_to 'back', ferrets_path%>
<script src="https://js.stripe.com/v3/"></script>
<script>
  document.querySelector("[data-stripe='payment']").addEventListener("click", () => {
    const stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :public_key) %>");
    stripe.redirectToCheckout({ sessionId: "<%= @session_id %>" });
  });
  </script>
<%= link_to 'Edit', edit_ferret_path(@ferret) %> |
<%= link_to 'Back', ferrets_path %>