<p id="notice"><%= notice %></p>
<h1> <%= @ferret.name%> </h1>
<h5> <%= @ferret.age%> </h5>

<p>
  <%= @ferret.disposition %>
  <%= p @ferret.picture %>
</p>
<button data-stripe="payment">Adopt ferret! <%= number_to_currency(0)%></button>
<%= link_to 'back', ferrets_path%>
<script>
  document.querySelector("[data-stripe='payment']").addEventListener("click", () => {
    const stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :public_key) %>");
    stripe.redirectToCheckout({
      sessionId: "<%= @session_id %>"
    });
  });
  </script>
<%= link_to 'Edit', edit_ferret_path(@ferret) %> |
<%= link_to 'Back', ferrets_path %>