<p id="notice"><%= notice %></p>
<h1> <%= @ferret.name%> </h1>
<h5> <%= @ferret.age%> </h5>

<p>
  <%= @ferret.disposition %>
</p>

<%= link_to 'Edit', edit_ferret_path(@ferret) %> |
<%= link_to 'Back', ferrets_path %>